* {
  font-family: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic',
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
    sans-serif;
}
body {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

/*ページ遷移のアニメーション*/
.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}
